* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    background: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.logo {
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 25px;
    width: 100%;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 19px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar ul li a:hover {
    color: black;
    background: #fefefe;
}
.nav-bar ul li a.active {
    color: black;
    background: red;
    z-index: 999999;
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: red;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
        z-index: 999999;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        color: #fefefe;
    }
}

@media only screen and (max-width: 320px) {
    .logo img{
        height: 35%;
    }
}




/*footer*/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 8px;
    color: #fff;
    border-top: 1px solid rgb(255, 0, 0);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 100px;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color:red;
}

.footer-bottom{
    background: #000;
    width: 100% ;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* creadores */

.Hhh{
    background-color: rgb(14, 14, 14);
    height: 130px;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-size: 190%;
    text-align: center;
}
h3{
    font-size: 17px;
}

.OO0O{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.pin{
    border: 2px dashed #860d0d;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article{
    text-align: center;
    color: white;
    width: 90%;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 3%;
}
#dado {
    font-size: 50px;
}
#earbuds {
    font-size: 50px;
}
#control {
    font-size: 50px;
}
#dpad {
    font-size: 50px;
}

@media only screen and (max-width: 174px) {
    h1{
        font-size: 150%;
    }
}
