body{
    background-color: black;
	
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(71, 71, 66);
}

.OOO{
    background-color: rgb(12, 12, 12);
    width: 86%;
	margin: 0px auto;
	border: 1px solid rgb(214, 211, 211);
}
.OOO .pin{
    
    position :relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.OOO .pin .mg{
    width: 200px;
    display: block;
    height: 300px;
    margin: 5px auto;
    transition: all 500ms ease-out;
}

.OOO .pin .capa{
    position: absolute;
    top: 0;
    background-color: black;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    height: 390px;
    width: 200px;
}

.OOO .pin:hover> .capa{
    visibility: visible;
    opacity: 1;
}
.OOO .pin:hover> .capa h4{
    margin-top: 25px;
    margin-bottom: 8px;
}
.OOO .pin .capa h4{
    color: #831e05;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
    transition: all 500ms ease-out;
    margin-top: 10px;
}
.OOO .pin .capa p{
    color: #fff;
    font-family:unset;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    margin: auto;
    text-align: center;
}
.pin {
    background-color: black;
    display: inline-block;
    border: 2px solid #bdb8b8;
    padding: 15px;
    margin: 20px;
}
.pin h2{
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
    color: #beb3b3;
}

h3{
    text-align: center;
    color: blanchedalmond;
}
.slider {
    width: 100%;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: slider 30s infinite;
    animation-timing-function: linear;
}

 .slider li {
    width: 100%;
    list-style: none;
}

.slider li img {
    width: 100%;
}

@keyframes slider {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 8px;
    padding-bottom: px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 100px;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color:red;
}

.footer-bottom{
    background: #000;
    width: 100% ;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

